<% if @attendees.any? %>
  <div class="flex flex-row">
    <div class="flex -space-x-3 rtl:space-x-reverse">
      <% @attendees.each_with_index do |attendee, idx| %>
        <!-- if third attendee, put icon stating how many attendees are left -->
        <% if idx == 2 %>
          <%= render AvatarsStackModalComponent.new(size: @attendees.size - idx, attendees: @attendees, 
                                                    modal_id: @modal_id) %>
          <% break %>
        <% end %>
        <%= render AvatarPlaceholderComponent.new(placeholder_initial: attendee.placeholder_initial) %>
      <% end %>
    </div>
    <span class="ml-5 mr-2 text-sm font-bold text-gray-900 dark:text-brandwhite">
      <% if @attendees.size == 1 %>
        <%= link_to @attendees[0].display_name, user_path(id: @attendees[0].id), class: "text-blue-500 hover:underline" %> is attending
      <% elsif @attendees.size == 2 %>
        <%= link_to @attendees[0].display_name, user_path(id: @attendees[0].id), class: "text-blue-500 hover:underline" %> and 
        <%= link_to @attendees[1].display_name, user_path(id: @attendees[1].id), class: "text-blue-500 hover:underline" %> are attending
      <% else %>
        <%= link_to @attendees[0].display_name, user_path(id: @attendees[0].id), class: "text-blue-500 hover:underline" %>,
        <%= link_to @attendees[1].display_name, user_path(id: @attendees[1].id), class: "text-blue-500 hover:underline" %>, 
        and 
        <span data-modal-target=<%= @modal_id %> 
              data-modal-toggle=<%= @modal_id %>
              class="hover:cursor-pointer text-blue-500 hover:underline"><%= @attendees.size - 2 %> others</span>
        are attending
      <% end %>
    </span>
  </div>
<% else %>
  <div class="text-sm text-gray-900 dark:text-brandwhite">
    <span>No one has RSVP'd yet</span>
  </div>
<% end %>