<div id="avatarButton" class="w-10 h-10 rounded-full cursor-pointer" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start">
  <%= render AvatarPlaceholderComponent.new(placeholder_initial: @user.placeholder_initial) %>
</div>
<div id="userDropdown" class="z-10 hidden bg-brandwhite divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
  <div class="px-4 py-3 text-sm text-gray-900 dark:text-brandwhite">
    <div><%= @user.display_name %></div>
    <div class="font-medium truncate"><%= @user.email_address %></div>
  </div>
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
    <li class="">
      <%= link_to "Edit Profile", edit_user_path(id: Current.user.id), { class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-brandwhite" } %>
    </li>
    <!--    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-brandwhite">Settings</a>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-brandwhite">Earnings</a>
    </li>-->
  </ul>
  <div class="py-1">
    <%= link_to "Logout", session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-brandwhite" %>
  </div>
</div>
