<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul class="list-disc ml-6">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="inline">
    <div class="flex flex-row my-8">
      <div class="relative w-full">
        <%= form.text_field :display_name, id: "user-display-name", required: true, placeholder: " ", maxlength: 40, class: "#{formBarColors} peer" %>
        <label for="user-display-name" class="absolute <%= floatingLabelSmall %>">Display Name</label>
      </div>
    </div>
    <div class="flex flex-row my-8">
      <div class="relative w-full">
        <%= form.email_field :email_address, id: "user-email-address", required: true, placeholder: " ", maxlength: 40, class: "#{formBarColors} peer" %>
        <label for="user-email-address" class="absolute <%= floatingLabelSmall %>">Email Address</label>
      </div>
    </div>
    <div class="flex flex-row my-8">
      <div class="relative w-full">
        <%= form.password_field :password, id: "user-password", required: true, placeholder: " ", maxlength: 20, class: "#{formBarColors} peer" %>
        <label for="user-password" class="absolute <%= floatingLabelSmall %>">Password</label>
      </div>
    </div>
    <div class="flex flex-row my-8">
      <div class="relative w-full">
        <%= form.password_field :password_confirmation, id: "user-password-confirmation", required: true, placeholder: " ", maxlength: 20, class: "#{formBarColors} peer" %>
        <label for="user-password-confirmation" class="absolute <%= floatingLabelSmall %>">Password Confirmation</label>
      </div>
    </div>
    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Submit", 
        class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 
        bg-brandblack hover:brightness-80 text-brandwhite inline-block font-medium cursor-pointer" %>
      </div>
    </div>
  </div>
<% end %>
