<% content_for :title, "#{@user.display_name}'s Profile | Party People" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <% if params[:id] == Current.user.id.to_s %>
      <h1 class="font-bold text-4xl">Welcome back, <%= Current.user.display_name %>!</h1>
    <% else %>
      <h1 class="font-bold text-4xl"><%= @user.display_name %>'s Profile</h1>
    <% end %>
    <%= render CreateEventBtnComponent.new %>
  </div>
  <div class="">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" 
      data-tabs-active-classes="text-activelink"
      data-tabs-inactive-classes="border-transparent <%= hoverBrandColors %> hover:contrast-40" 
      role="tablist">
      <li class="me-2" role="presentation">
        <button class="inline-block p-3 border-b-2 rounded-t-lg" id="upcoming-styled-tab" data-tabs-target="#styled-upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming <%= @upcoming.size %></button>
      </li>
      <li class="me-2" role="presentation">
        <button class="inline-block p-3 border-b-2 rounded-t-lg" id="hosting-styled-tab" data-tabs-target="#styled-hosting" type="button" role="tab" aria-controls="hosting" aria-selected="false">Hosting <%= @hosting.size %></button>
      </li>
      <li class="me-2" role="presentation">
        <button class="inline-block p-3 border-b-2 rounded-t-lg" id="attended-styled-tab" data-tabs-target="#styled-attended" type="button" role="tab" aria-controls="attended" aria-selected="false">Attended <%= @attended_events.size %></button>
      </li>
      <li role="presentation">
        <button class="inline-block p-3 border-b-2 rounded-t-lg" id="past-events-styled-tab" data-tabs-target="#styled-past-events" type="button" role="tab" aria-controls="past-events" aria-selected="false">All Past Events <%= @past_events.size %></button>
      </li>
    </ul>
  </div>
  <div id="default-styled-tab-content">
    <div class="hidden" id="styled-upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
      <div class="flex w-full flex-row flex-wrap justify-evenly items-start">
        <%= render EventsCardComponent.new(events: @upcoming, user: @user) %>
      </div>
    </div>
    <div class="hidden" id="styled-hosting" role="tabpanel" aria-labelledby="hosting-tab">
      <div class="flex w-full flex-row flex-wrap justify-evenly items-start">
        <%= render EventsCardComponent.new(events: @hosting, user: @user) %>
      </div>
    </div>
    <div class="hidden" id="styled-attended" role="tabpanel" aria-labelledby="attended-tab">
      <div class="flex w-full flex-row flex-wrap justify-evenly items-start">
        <%= render EventsCardComponent.new(events: @attended_events, user: @user) %>
      </div>
    </div>
    <div class="hidden" id="styled-past-events" role="tabpanel" aria-labelledby="past-events-tab">
      <div class="flex w-full flex-row flex-wrap justify-evenly items-start">
        <%= render EventsCardComponent.new(events: @past_events, user: @user) %>
      </div>
    </div>
  </div>
</div>