<% content_for :title, "#{@user.display_name}'s Profile | Party People" %>
<div class="w-full">
  <% if flash.present? %>
    <%= render AlertComponent.new(flash: flash) %>
  <% end %>
  <div class="flex justify-between items-center">
    <% if params[:id] == Current.user.id.to_s %>
      <h1 class="font-bold text-4xl">Welcome back, <%= Current.user.display_name %>!</h1>
    <% else %>
      <h1 class="font-bold text-4xl"><%= @user.display_name %>'s Profile</h1>
    <% end %>
    <%= render CreateEventBtnComponent.new %>
  </div>
  <%= render TabsComponent.new(id: "event-tabs") do |component| %>
    <% component.with_header(header_id: "upcoming", header_title: "Upcoming #{@upcoming.size}") %>
    <% component.with_body(header_id: "upcoming") do %>
      <div class="flex w-full flex-row flex-wrap justify-evenly items-start">
        <%= render EventsCardComponent.new(events: @upcoming, user: @user) %>
      </div>
    <% end %>
    <% component.with_header(header_id: "hosting", header_title: "Hosting #{@hosting.size}") %>
    <% component.with_body(header_id: "hosting") do %>
      <div class="flex w-full flex-row flex-wrap justify-evenly items-start">
        <%= render EventsCardComponent.new(events: @hosting, user: @user) %>
      </div>
    <% end %>
    <% component.with_header(header_id: "attended", header_title: "Attended #{@attended_events.size}") %>
    <% component.with_body(header_id: "attended") do %>
      <div class="flex w-full flex-row flex-wrap justify-evenly items-start">
        <%= render EventsCardComponent.new(events: @attended_events, user: @user) %>
      </div>
    <% end %>
    <% component.with_header(header_id: "past_events", header_title: "Past Events #{@past_events.size}") %>
    <% component.with_body(header_id: "past_events") do %>
      <div class="flex w-full flex-row flex-wrap justify-evenly items-start">
        <%= render EventsCardComponent.new(events: @past_events, user: @user) %>
      </div>
    <% end %>
  <% end %>
</div>