<%= form_with(model: @event, class: "contents") do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul class="list-disc ml-6">
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if flash.present? %>
    <%= render AlertComponent.new(flash: flash) %>
  <% end %>
  <div class="w-full text-lg">
    <div class="flex flex-col p-0 md:pr-[50%]">
      <div class="relative w-full">
        <%= form.text_area :title, rows: 1, id: "event-title", required: true, placeholder: " ", maxlength: 40,
          class: "resize-none font-bold text-6xl font-work-sans my-5 self-center md:self-start w-full #{formBarColors} peer" %>
        <label for="event-title" class="absolute text-6xl <%= floatingLabelBig %>">Event Title</label>
      </div>
      <div class="md:max-w-[440px] w-full h-auto self-center flex flex-col items-center
                mb-5 md:fixed md:mr-5 md:w-1/3 md:self-auto md:right-1/9 md:top-1/6">
        <%= form.select :display_poster, array_of_display_posters, 
            {selected: @event.display_poster || array_of_display_posters[0], prompt: ''}, 
            {id: "event-display-poster", class: "#{formBarColors} mb-3 peer", required: true, size: 8} %>
        <label for="event-display-poster" class="absolute <%= floatingLabelSmall %>">Display Poster</label>
        <%= image_tag "/posters/#{@event.display_poster || array_of_display_posters[0]}", id: "preview-display-poster",
          class: "aspect-square object-contain w-full h-full max-w-[400px] md:max-w-[450px]" %>
      </div>
      <div class="flex flex-row mb-2">
        <%= render DateTimePickerComponent.new(event: @event, form: form) %>
      </div>
      <%= form.label :is_public, "", class: "my-2 flex flex-row gap-2 w-full text-sm cursor-pointer #{formBarColors}" do %>
        <%= form.checkbox :is_public, id: "event_is_public", class: "cursor-pointer text-teal-700 focus:ring-teal-700" %>
        <div>List this Party in <strong>Public Events?</strong></div>
      <% end %>
      <div class="flex items-center justify-start my-4">
        <div class="w-auto h-auto mr-3">
          <%= icon 'crown', library: "boxicons" %>
        </div>
        <span class="">Hosted by</span>
        <span class='ml-1.5'>
          <%= render Avatar::PlaceholderComponent.new(user: authenticated? ? Current.user : "?", override_color: "slate" ) %>
        </span>
        <span class="ml-1.5"><%= authenticated? ? Current.user.display_name : "Unregistered User" %></span>
      </div>
      <div class="flex flex-row my-4">
        <div class="w-auto h-auto mt-3 mr-3">
          <%= icon 'pin', library: "boxicons", data: { "tooltip-target": "tooltip-location" } %>
          <div id="tooltip-location" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0">
            Location
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="relative w-full">
          <%= form.text_field :location, id:"event-location", required: true, placeholder: " ", maxlength: 40, class: "#{formBarColors} peer" %>
          <label for="event-location" class="absolute <%= floatingLabelSmall %>">Location</label>
        </div>
      </div>
      <div class="flex flex-row my-4">
        <div class="w-auto h-auto mt-3 mr-3">
          <%= icon 'user-circle', library: "boxicons", data: { "tooltip-target": "tooltip-max-capacity" } %>
          <div id="tooltip-max-capacity" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0">
            Max Capacity
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="relative w-full">
          <%= form.number_field :max_capacity, id: "event-max-capacity", required: true, placeholder: "", class: "#{formBarColors} peer",
              min: 1, max: 1_000, type: "number" %>
          <label for="event-max-capacity" class="absolute <%= floatingLabelSmall %>">Max Capacity</label>
        </div>
      </div>
      <div class="flex flex-row my-4">
        <div class="w-auto h-auto mt-3 mr-3">
          <%= icon 'fork-knife', library: "boxicons", data: { "tooltip-target": "tooltip-food-situation" } %>
          <div id="tooltip-food-situation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0">
            Food Situation
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="relative w-full">
          <%= form.text_field :food_situation, id: "event-food-situation", required: false, placeholder: " ", maxlength: 40, class: "#{formBarColors} peer" %>
          <label for="event-food-situation" class="absolute <%= floatingLabelSmall %>">Food Situation (Optional)</label>
        </div>
      </div>
      <div class="flex flex-row my-4">
        <div class="w-auto h-auto mt-3 mr-3">
          <%= icon 'dress', library: "boxicons", data: { "tooltip-target": "tooltip-dress-code" } %>
          <div id="tooltip-dress-code" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0">
            Dress Code
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="relative w-full">
          <%= form.text_field :dress_code, id: "event-dress-code", required: false, placeholder: " ", maxlength: 40, class: "#{formBarColors} peer" %>
          <label for="event-dress-code" class="absolute <%= floatingLabelSmall %>">Dress Code (Optional)</label>
        </div>
      </div>
      <div class="flex flex-row my-4">
        <div class="w-auto h-auto mt-3 mr-3">
          <%= icon 'building-house', library: "boxicons", data: { "tooltip-target": "tooltip-accommodation" } %>
          <div id="tooltip-accommodation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0">
            Accommodation
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="relative w-full">
          <%= form.text_area :accommodation, id:"event-accommodation", rows: 1, required: false, placeholder: " ", maxlength: 100, class: "resize-none #{formBarColors} peer" %>
          <label for="event-accommodation" class="absolute <%= floatingLabelSmall %>">Accommodation (Optional)</label>
        </div>
      </div>
      <div class="flex flex-row my-4">
        <div class="w-auto h-auto mt-3 mr-3">
          <%= icon 'car', library: "boxicons", data: { "tooltip-target": "tooltip-parking-instructions" } %>
          <div id="tooltip-parking-instructions" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0">
            Parking Instructions
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="relative w-full">
          <%= form.text_area :parking_instructions, id: "event-parking-instructions", rows: 1, required: false, maxlength: 100, placeholder: " ", class: "resize-none #{formBarColors} peer" %>
          <label for="event-parking-instructions" class="absolute <%= floatingLabelSmall %>">Parking Instructions (Optional)</label>
        </div>
      </div>
      <div class="flex flex-row my-4">
        <div class="w-auto h-auto mt-3 mr-3">
          <%= icon 'info-circle', library: "boxicons", data: { "tooltip-target": "tooltip-additional-info" } %>
          <div id="tooltip-additional-info" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0">
            Additional Info
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="relative w-full">
          <%= form.text_area :additional_info, id: "event-additional-info", rows: 1, required: false, placeholder: " ", maxlength: 300, class: "resize-none #{formBarColors} peer" %>
          <label for="event-additional-info" class="absolute <%= floatingLabelSmall %>">Additional Info (Optional)</label>
        </div>
      </div>
      <div class="mt-10 mb-5 w-full relative">
        <%= form.text_area :description, 
                          id: "event-description", rows: 10, required: true, placeholder: " ", 
                          class: "resize-none w-full h-[300px] field-sizing-content #{formBarColors} peer" %>
        <label for="event-description" 
               class="absolute text-xl font-work-sans start-1 duration-300 transform left-[-1px] origin-[0] p-3 text-gray-400
                      peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/12
                      peer-focus:bg-white peer-focus:text-brandblack peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-12
                      not-peer-placeholder-shown:bg-white not-peer-placeholder-shown:text-brandblack not-peer-placeholder-shown:top-0
                      not-peer-placeholder-shown:scale-75 not-peer-placeholder-shown:-translate-y-12">
          Description</label>
      </div>
    </div>
    <%= render SidebarComponent.new(event: @event) %>
  </div>
<% end %>
<%= javascript_include_tag 'events.js' %>